[alias]
	aa = add -A .
	b = branch
	co = checkout
	d = diff --cached
	s = status -s -b
	st = status
	lol = log --oneline --decorate
	lolg = log --oneline --graph --decorate
	lola = log --oneline --graph --decorate --all
	pr = pull --rebase
	drtag = !"f() { git tag -d $1 && git push origin :refs/tags/$1; }; f"
	p = !"f() { git pull && git submodule sync --recursive && git submodule update --init --recursive; }; f"
	su = submodule update --init --recursive
[color]
	ui = auto
[color "diff"]
	frag = red bold
	meta = yellow bold
	new = cyan bold
	old = magenta bold
[color "status"]
	added = cyan bold
	changed = magenta bold
	untracked = yellow bold
[core]
	excludesfile = ~/.gitignore
	quotepath = false
[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = master
[pull]
	ff = only
[push]
	default = upstream